<div class="content">

	<div id="no_data_warning" class='warning' style="display:none" >
		<p>welcome to the measurement system... If you're seeing this, that means there is no data in the system. Please run <em>generate</em> to fake some or start <em>kapture</em> and come back in a few days.</p>
	</div>

</div>
