<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>power &amp; gas consumption</title>

	<link href="//yui.yahooapis.com/pure/0.3.0/pure-min.css" rel='stylesheet'>
	<link href='http://fonts.googleapis.com/css?family=Lato:900|Roboto:400,500,700' rel='stylesheet' type='text/css'>
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/site.css" rel="stylesheet">
  
  	<script data-main="js/app" src="js/lib/require.js"></script>

	</head>
	<body>
		<div class="content">
			<header>
				<h1>kultivate</h1>
			</header>
		</div>
		<%= yield %>
	</body>
</html>