<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>power &amp; gas consumption</title>

	<link href="//yui.yahooapis.com/pure/0.3.0/pure-min.css" rel='stylesheet'>
	<link href='http://fonts.googleapis.com/css?family=Lato:900|Roboto:400,500,700' rel='stylesheet' type='text/css'>
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/site.css" rel="stylesheet">
  
  	<script data-main="js/app" src="js/lib/require.js"></script>

	</head>
	<body>
		<div class="content">
			<header>
				<h1>kultivate</h1>
				
				<div class="sparkles">
					<ul id="sparks">
						<li class="sparks-info">
							<h5>power usage<span id="current_power_consumption">800W</span></h5>
	 						<div id="power_usage"></div>
	 					</li>
						<li class="sparks-info">
							<h5>import/export<span>80/20%</span></h5>
	 						<div class="power_usage">1:4,2:3,3:2,4:1</div>
	 					</li>	 						 					
						<li class="sparks-info">
							<h5>temperature<span>20&deg;</span></h5>
	 						<div class="power_usage" data-sparkline-type="line">15,16,17,18,20,20,20,19.6,18,17,16,15,15,15,15</div>
	 					</li>
					</ul>
 				</div>
			</header>
		</div>
		<%= yield %>
	</body>
</html>