@import "elements";

body{
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5{
	font-family: 'Lato', sans-serif;
}

.content {
	padding: 0 3em 0;
}

header{
	@include drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 1px, $spread:-1px, $alpha: 0.4);
	h1{
		display:inline-block;
	}
	.sparkles{
		float:right;
		margin-top: 0.67em;
//		margin-after: 0.67em;

		#sparks{
			list-style: none;
			//margin: 10px 0 0;
			text-align: right;

			.sparks-info {
				min-width: 70px;
			}

			li:first-child {
				border-left: 0;
				padding-left: 0;
			}
			li {
				border-left: 1px dotted #c7c7c7;
				padding: 0 10px;
				display: inline-block;
				max-height: 47px;
				text-align: left;

				h5{
					color: #555;
					float: left;
					font-size: 11px;
					font-weight: 400;
					margin: -3px 0 0 0;
					text-transform: uppercase;

					span{
						display: block;
						font-size: 18px;
						line-height: 20px;
					}
				}

				div{
					color:#57889c;
					float: right;
					margin: 3px 0 0 20px;
				}

			}
		}
	}
}

#daily_chart{
	height:300px;
}

#day_chart{
	height:200px;
}

#gauge_chart{
	height:300px;
}

/* 
	inline charts
	---------------------------------------------------------------------- */

.chart {
	position: relative;
	display: inline-block;
	width: 110px;
	height: 110px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	line-height: 110px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}

/* 
	warning
	---------------------------------------------------------------------- */

.warning{
	@include rounded(3px);
	background: #1f8dd6;
	padding: 0.3em 1em;
	color: #fff;
}

/* 
	forms
	---------------------------------------------------------------------- */

form {

	position: relative;

	.icon-prepend {
		color: #A2A2A2;
		left: 5px;
		top: 9px;
		padding-right: 3px;
		border-right-width: 1px;
		border-right-style: solid;
		position: absolute;
		width: 22px;
		height: 22px;
		font-size: 14px;
		line-height: 22px;
		text-align: center;		
	}

	.icon-prepend+input{
		padding-left: 37px !important;
	}	
} 

form[role='date_range']{
	input {
		width:60em;	
	}
	div{
		font-size:13px;
		color: #666;
	}
}


/* 
	widget control
	---------------------------------------------------------------------- */

.widget{

	margin-bottom:1em;

	header[role='heading']{
		@include inner-shadow(0, -2px, 0px, 0.05);

		color: #333;
		border: 1px solid #C2C2C2;
		background: #fafafa;
		height: 2em;
		padding: 0;

		> h2{
			height: 100%;
			width: auto;
			display: inline-block;
			font-size: 0.9em;
			position: relative;
			margin: 0;
			line-height: 34px;
			font-weight: normal;
			letter-spacing: 0;

			margin-left: 10px;
			float: left;
		}

		.widget-icon{
			display: block;
			width: 30px;
			height: 32px;
			position: relative;
			float: left;
			font-size: 111%;
			line-height: 32px;
			text-align: center;
			margin-right: -10px;
		}
	}	

	.widget-toolbar{
		display: block;
		padding: 8px 10px;
		min-height: 42px;
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		background: #fafafa;
		position:relative;
	}

	> div[role='content']{
		position: relative;
		font-size: 13px;
		margin: 0;
		border-width: 1px 1px 2px;
		border-style: solid;
		border-top: none;
		border-right-color: #CCC;
		border-bottom-color: #CCC;
		border-left-color: #CCC;
		padding: 13px 13px 0;
	}
}
